<div class="page">
  <h1 class="title">Dash's Buried Treasure</h1>

  <div class="talking-dash">
    <div class="speech-bubble">
      <div class="speech-content">
        <p>Hi there,</p>
        <p>I know it's a special day for you, so
        I've put together a treat.</p>
        <p>It's a scavenger hunt!</p>
        <p>Here's how it's going to work.</p>
        <p>First I'll give you a clue. Use this
        to figure out where to go. Once we get
        there ask me to dig, and I'll dig up
        the treasure I've left buried there.</p>
        <p>So are you ready to play a game?</p>
      </div>
    </div>

    <%= image_tag "dash.png", size: "300x351" %>
  </div>

  <%= link_to "Dig here", "#", id: "check-location" %>

  <div id="output"></div>
</div>
