<h1>Dash's Buried Treasure</h1>

<div class="talking-dash">
  <div class="speech-bubble">
    <p>Let's begin.</p>
  </div>

  <%= image_tag "dash.png" %>
</div>

<%= link_to "Dig here", "#", id: "check-location" %>

<div id="output"></div>
