<div class="page">
  <h1 class="title">Dash's Buried Treasure</h1>

  <div class="talking-dash">
    <div class="speech-bubble">
      <div class="speech-content">
      </div>
    </div>

    <%= image_tag "dash.png", size: "300x351", class: "dash-img" %>
  </div>

  <%= link_to "Dig here", "#", id: "check-location" %>

  <div id="output"></div>
</div>
