# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

clue = 'intro'

has_geolocation = ->
  return !!navigator.geolocation

set_pose = (pose) ->
  container = $('.dash-container')
  classes = container.attr('class').split(/\s+/)
  for cls in classes
    if cls.endsWith "pose"
      container.removeClass cls
  container.addClass pose

got_pos = (pos) ->
  set_pose 'mag-pose'
  console.log 'Got pos!' 
  lat = pos.coords.latitude
  lng = pos.coords.longitude
  console.log("lat: #{lat}, lng: #{lng}")
  $.ajax({url: "/checkpos", data: {
      'lat': lat, 'lng': lng, 'clue': clue}}).done (response) ->
        lines = response['lines']
        $('.speech-content').empty()
        show_lines(lines).then ->
          content = $('.speech-content')
          content.append '<%= image_tag "paw-print.png", size: "100x100", class: "dash-paw" %>'
          content.scrollTop content.prop('scrollHeight')
          $('.dash-paw').click ->
            content.empty()
            set_pose 'default-pose'
            speak clue
        console.log "Response #{JSON.stringify(response)}"

got_pos_fail = ->
  $('#output').text 'Getting your location failed'

speak = (name) ->
  $.ajax({url: '/getlines', data: {name: name}}).done (response) ->
    block = response["block"]
    next = response["next"]
    if block
      clue = name
    show_lines(response["lines"]).then ->
      console.log('After show lines')
      content = $('.speech-content')
      if block
        $('#check-location').show()
      else
        content.append '<%= image_tag "paw-print.png", size: "100x100", class: "dash-paw" %>'
        content.scrollTop content.prop('scrollHeight')
        $('.dash-paw').click ->
          content.empty()
          speak next

show_lines = (lines) ->
  show_line_handler = null
  promise = new Promise((resolve, reject) ->
    show_line = ->
      if lines.length
        content = $('.speech-content')
        content.append "<p class='dash-line'>#{lines.shift()}</p>"
        content.scrollTop content.prop('scrollHeight')
      else
        window.clearInterval(show_line_handler)
        show_line_handler = null
        resolve('yay')
    show_line_handler = window.setInterval(show_line, 200)
  )
  return promise

$ ->
  speak "intro"

  $('#check-location').click ->
    have_geo = has_geolocation()
    console.log have_geo
    # navigator.geolocation.getCurrentPosition(got_pos, got_pos_fail)
    # Not going to get https working locally for time constraints. Hard
    # code values of home.
    got_pos({coords: {latitude: 37.371859, longitude: -122.0212337}})
    event.preventDefault()
